.aboutDiv {
    z-index: 0;
    min-height: 100%;
    min-width: 100%;
    background-image: url("../images/lights.jpg");
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

@media only screen  and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
    .aboutDiv{
      background-image: url("../images/lightsmobile.jpg");
    }

}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
    .aboutDiv {
        background-image: url("../images/bulbsmobile.jpg");
    }
}

.aboutDivContainer {
    padding-top: 75px;
}

.aboutDivContainer h1 {
    margin-top: 10px;
    font-family: Spartan;
    text-align: center;
}

.wwd-container {
    color: white;
    text-align: center;
}

.design {
    padding-top: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    opacity: .8;
}

.design ul {
    list-style: none;
    font-family: 'Libre Baskerville', serif;
    font-size: 14px;
}

.design h3 {
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
}

.development {
    padding-top: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    opacity: .8;
}

.development ul {
    list-style: none;
    font-family: 'Libre Baskerville', serif;
    font-size: 14px;
}

.development h3 {
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
}

.marketing {
    padding-top: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    opacity: .8;
}

.marketing ul {
    list-style: none;
    font-family: 'Libre Baskerville', serif;
    font-size: 14px;
}

.marketing h3 {
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
}


/* White Part */

.headshotsContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
}

.captionsContainer {
    display: flex;
    justify-content: space-around;
    align-content: center;
    text-align: center;
}

.headshot {
    border-radius: 50%;
    height: 175px;
    width: 175px;
}

.Pak .subhead {
    margin-top: 10px;
    font-size: 24px;
}

.Bolognino .subhead {
    margin-top: 10px;
    font-size: 24px;
}

.team {
    padding-top: 20px;
    text-align: center;
}