.contactDiv {
    color: white;
    z-index: 0;
    background-image: url("../images/bulbs.jpg");
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.contactDivContainer {
    text-align: center;
    text-align: center;
    padding-top: 75px;
}

.formContainer {
    width: 100%;
    top: 0px;
    text-align: center;
}

.formContainer div {
    font-family: 'Libre Baskerville', serif;
    font-size: 26px;
    letter-spacing: 4px;
    color: white;
    opacity: .9;
    margin-left: 20%;
    max-width: 60%;
}

.contacthead {
    text-align: center;
}

.emailButton {
    font-weight: bold;
    letter-spacing: 4px;
    background: none;
    color: white;
    border: white 2px solid;
    font-size: 22px;
    margin-bottom: 20px;
}

.emailButton:hover {
    transition: ease-in-out;
    transition-duration: .4s;
    background: white;
    color: black;
    border: white 2px solid;
    margin-bottom: 20px;
}

.mapDivContainer {
    height: 35vh;
}

#map {
    height: 37vh;
    width: 100%;
}

.phoneNum {
    color: black !important;
}

.myemail {
   color: black !important;
}

.phoneNum:hover {
    text-decoration: underline;
}

.myemail:hover {
    text-decoration: underline;
}
.contactInfo {
    padding: 25px;
    color: black;
    background-color: white;
    display: inline-block;
    opacity: .8;
}

/* Mobile Queries */

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
    .contactDiv {
        background-image: url("../images/bulbsmobile.jpg");
    }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
    .contactDiv {
        background-image: url("../images/bulbsmobile.jpg");
    }
}

@media screen and (max-width: 992px) {
    .contactDiv {
        background-image: url("../images/bulbsmobile.jpg");
    }
    .contactDiv {
        background-attachment: scroll;
    }
    #map {
        height: 22vh;
    }
    .formContainer div {
        font-size: 42px;
    }
    .mapDivContainer {
        height: 20vh;
    }
    .emailButton {
        font-size: 26px;
    }
    .contactInfo h3 {
        font-size: 42px;
    }
    .contacthead {
        font-size: 100px;
    }
}