.contactDiv {
    z-index: 0;
    min-height: 100%;
    min-width: 100%;
    background-image: url("../images/bulbs.jpg");
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
    .contactDiv {
        background-image: url("../images/bulbsmobile.jpg");
    }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
    .contactDiv {
        background-image: url("../images/bulbsmobile.jpg");
    }
}

.contactDivContainer {
    text-align: center;
    text-align: center;
    padding-top: 75px;
}

.formContainer {
    width: 100%;
    top: 0px;
    text-align: center;
}

.formContainer div {
    font-family: 'Libre Baskerville', serif;
    font-size: 18px;
    color: black;
    opacity: .9;
    margin-left: 20%;
    max-width: 60%;
}

.contacthead {
    text-align: center;
}

.emailButton {
    font-weight: bold;
    letter-spacing: 4px;
    background: none;
    color: black;
    border: black 2px solid;
    margin-bottom: 20px;
}

.emailButton:hover {
    transition: ease-in-out;
    transition-duration: .4s;
    background-color: white;
    color: black;
    border: white 2px solid;
    margin-bottom: 20px;
}

.mapDivContainer {
    height: 35vh;
}

#map {
    height: 40vh;
    width: 100%;
}