.homeDiv {
    z-index: 0;
    min-height: 100%;
    min-width: 100%;
    background-image: url("../images/");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.homeDivContainer {
    padding-top: 75px;
}

.solutions {
    text-align: center;
    font-family: 'Russo One', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.solutions h3 {
    font-size: 40px;
    color: red;
}

.someTextHome .inner{
    margin: 10px;
    font-family: 'Libre Baskerville', serif;
    font-size: 14px;
}
.someTextHome .subhead{
    margin-top: 20px;
}

.logoContainer {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-height: 350px;
}

.logoContainer img {
    max-height: 350px;
}

.logoContainer h1 {
    margin: 20px;
    font-family: Spartan;
    font-size: 60px;
}

@media screen and (max-width: 480px) {
    .logoContainer {
        margin-top: 100px;
    }
        .logoContainer h1{
        font-size: 45px;
    }
}

@media screen and (min-width: 480px) and (max-width: 550px) {
    .logoContainer {
        margin-top: 95px;
    }
    .logoContainer h1{
        font-size: 45px;
    }
}

@media screen and (min-width: 550px) and (max-width: 650px) {
    .logoContainer {
        margin-top: 90px;
    }
        .logoContainer h1{
        font-size: 50px;
    }
}

@media screen and (min-width: 650px) and (max-width: 750px) {
    .logoContainer {
        margin-top: 85px;
    }
}

@media screen and (min-width: 750px) {
    .logoContainer {
        margin-top: 80px;
    }
}