.homeDiv {
    z-index: 0;
    min-height: 100%;
    width: 100%;
    background-image: url("../images/nyc-background-1.jpg");
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.homeDivContainer {
    padding-top: 75px;
}

.solutions {
    text-align: center;
    font-family: 'Russo One', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.solutions h3 {
    font-size: 40px;
    color: red;
}

.someTextHome .inner {
    margin: 10px;
    font-family: 'Libre Baskerville', serif;
    font-size: 14px;
}

.someTextHome .subhead {
    margin-top: 20px;
}

.logoContainer {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-height: 350px;
}

.logoContainer img {
    max-height: 350px;
}

.logoContainer h1 {
    margin: 20px;
    font-family: Spartan;
    font-size: 60px;
}

@media screen and (max-width: 480px) {
    .logoContainer {
        margin-top: 100px;
    }
    .logoContainer h1 {
        font-size: 45px;
    }
}

@media screen and (min-width: 480px) and (max-width: 550px) {
    .logoContainer {
        margin-top: 95px;
    }
    .logoContainer h1 {
        font-size: 45px;
    }
}

@media screen and (min-width: 550px) and (max-width: 650px) {
    .logoContainer {
        margin-top: 90px;
    }
    .logoContainer h1 {
        font-size: 50px;
    }
}

@media screen and (min-width: 650px) and (max-width: 750px) {
    .logoContainer {
        margin-top: 85px;
    }
}

@media screen and (min-width: 750px) {
    .logoContainer {
        margin-top: 80px;
    }
}


/*MOBILE MEDIA QUERIES*/

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
    .homeDiv {
        background-image: url("../images/nycmobile.jpg");
    }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
    .homeDiv {
        background-image: url("../images/nycmobile.jpg");
    }
}

@media screen and (max-width: 992px) {
    .homeDiv {
        background-attachment: scroll;
    }
    .homeDivContainer {
        padding-top: 30%;
    }
    .logoContainer {
        margin-top: 20%;
    }
    .logoContainer img {
        transform: scale(1.5);
        margin-bottom: 75px;
    }
    .logoContainer h1 {
        margin: 20px;
        font-size: 100px;
    }
}