body,
html {
    height: 100%;
    position: relative;
}

.navbar-toggler-icon {
    color: black;
}

nav {
    padding: 0px;
    background-color: white;
    z-index: 1000;
    height: 75px;
}

.navbar,
.fixed-top {
    padding: 0px;
}

.navDiv {
    font-size: 20px;
}

.nav-link:hover {
    color: red !important;
}

.nav-link:focus {
    color: red !important;
}

.itemsInNav {
    background-color: white;
    margin: none;
}

footer {
    position: absolute;
    right: 0;
    left: 0;
}

.footContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    text-align: right;
    color: white;
    background-color: black;
}