.workDiv {
    z-index: 0;
    min-height: 80%;
    min-width: 100%;
    background-image: url("../images/tech.jpg");
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.workDivContainer {
    padding-top: 75px;
}

.workhead {
    text-align: center;
    color: white;
}

.innerWork {
    margin: 10px;
    font-family: 'Libre Baskerville', serif;
    font-size: 14px;
}


/* Media queries for mobile */

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
    .workDiv {
        background-image: url("../images/techmobile.jpg");
    }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
    .workDiv {
        background-image: url("../images/techmobile.jpg");
    }
}

@media screen and (max-width: 992px) and (-webkit-min-device-pixel-ratio: 2) {
    .workDiv {
        background-image: url("../images/techmobile.jpg");
    }
    .workDiv {
        background-attachment: scroll;
    }
    .workhead {
        font-size: 100px;
    }
    .innerWork {
        font-size: 32px;
    }
}